.popup__input-error {
  padding-top: 5px;
  display: block;
  box-sizing: border-box;
  min-height: 36px;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  visibility: hidden;
}