.cards {
  margin: 0 auto 66px auto;
  padding: 0;
  max-width: 880px;
  display: grid;
  /* Перенос карточек по расширению экрана */
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  box-sizing: border-box;
}

@media screen and (max-width: 929px) {
  .cards {
    max-width: 600px;
    justify-content: center;
  }
}

@media screen and (max-width: 644px) {
  .cards {
    margin: 0 auto 48px auto;
    max-width: 282px;
  }
}