.popup__submit {
  margin: 0 auto;
  padding: 0;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: #FFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 644px) {
  .popup__submit {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}