.profile__description {
  margin: 0;
  padding: 0;
  /* Сокращаем текст */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 929px) {
  .profile__description {
    max-width: 225px;
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 644px) {
  .profile__description {
    margin: 0 auto 36px auto;
    min-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}