.profile__info {
  margin: 0 0 0 30px;
  padding: 0;
  display: grid;
  align-items: baseline;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);
  gap: 16px 18px;
}

@media screen and (max-width: 644px) {
  .profile__info {
    gap: 14px 10px;
  }
}