.profile__info {
  margin: 0 0 0 30px;
  padding: 0;
  display: grid;
  /* Адаптивная информация по расширению */
  grid-template-columns: minmax(min-content, max-content)
                         minmax(min-content, max-content);
  align-items: center;
  box-sizing: border-box;
  gap: 16px 18px;
}

@media screen and (max-width: 644px) {
  .profile__info {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px 10px;
  }
}