.profile__editor {
  margin: 0;
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  border: 1px solid #FFF;
  background: transparent url('../../../images/icon/edit.svg') no-repeat center;
  transition: all 0.4s ease-in-out;
}

.profile__editor:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 644px) {
  .profile__editor {
    min-width: 18px;
    min-height: 18px;
    background-size: 7.5px;
  }
}