.footer {
  max-width: 880px;
  margin: 0 auto 60px auto;
}

@media screen and (max-width: 929px) {
  .footer {
    max-width: 600px;
  }
}

@media screen and (max-width: 644px) {
  .footer {
    max-width: 282px;
    margin: 0 auto 36px auto;
  }
}