.footer__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 644px) {
  .footer__description {
    font-size: 14px;
    line-height: 17px;
  }
}