.cards__description {
  margin: 0;
  padding: 0;
  /* Сокращаем заголовок */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* Общие стили текста */
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}